# Database
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ai_file_system

# AI
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash
# Authentication
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

#folder Path 
FOLDER_PATH = /home/ubuntu/natural-language-file-system